aiofiles~=0.6.0
alembic~=1.5.8
fastapi~=0.6
httpx~=0.18.1
jinja2~=2.11.3
loguru~=0.5.3
mangum~=0.11.0
ormar[postgresql]~=0.10.5
passlib[bcrypt]~=1.7.4
psutil~=5.8.0
python-jose[cryptography]~=3.2.0
python-multipart~=0.0.5
requests~=2.25.1
semantic_version~=2.8.5
uvicorn~=0.13.4
